/* INPUT VALIDATION */

.input-control {
    margin: 1rem 0;
}

.input-control label, .input-control input, .input-control textarea {
    display: block;
}

.input-control label {
    font-weight: bold;
    margin-bottom: .5rem;
}

.input-control input, .input-control textarea {
    width: 100%;
    font: inherit;
    border: 1px solid rgb(160, 157, 157);
    background: #f8f8f8;
    padding: .15rem .25rem;
}

.input-control input:focus, .input-control textarea:focus {
    background: #ebebeb;
    border-color: #065228;
}

.input-control--invalid label:focus, .input-control--invalid p:focus {
    color: rgb(22, 22, 22);
}

.input-control--invalid label, .input-control--invalid p {
    color: rgb(180, 42, 42);
}

.input-control--invalid input, .input-control--invalid textarea {
    border-color: rgb(173, 33, 33);
    background: #ffd1d1;
}

.error-text {
    max-height: 1.2rem;
    min-height: 1rem;
    display: flex;
    justify-content: center;
/*     min-width: 80%;
    max-width: 100%; */

}

.error-text p {
    font-size: .8rem;
    margin: 0;
    position: absolute;
    padding-top: 1px;
}

@media (max-width: 700px) {
    .error-text p {
        font-size: .64rem;
        position: static;
    }
}