.auth-container {
    padding: 3px 20px;
    position: relative;
    top: 7px;
}

.auth-container button {
    background-color:rgb(191, 202, 32);
    position: relative;
    bottom: 8px;
    left: 20px;
    padding: 0;
    border: none;
    width: 126px;
    height: 45px;
    font-size:1rem;
    font-weight: 550;
    color: #faf6f6;
    border-radius: 4%;
    transition: all 0.3s;
}


.auth-container button:hover {
    background-color: rgb(211, 224, 18);
    color: rgb(255, 255, 255);
    border: white solid 1px;
}

.auth-container img {
    height: 26px;
    position: relative;
    top: 2px;
    padding-right: 5px;
}

.auth-container span {
    position: relative;
    bottom: 5px;
}

@media (min-width: 900px) {
    .auth-button_mobile {
        display: none;
    }
}

@media (max-width: 900px) {
    .auth-button_desktop {
        display: none;
    }
    .auth-container {
        position: absolute;
        right: 3%;
        top: 22%;
    }
}

@media (max-width: 340px) {
    .auth-container span {
        display: none;
    }
    .auth-container button {
        height: 47px;
        width: 47px;
        border-radius: 50%;
    }
    .auth-container img {
        padding: 0;
    }
}

