
.password-change__container input {
    width: 80%;
    max-width: 15rem;
    min-width: 10rem;
    margin: auto;
}


.password-change__container button{
margin-bottom: -0.8vh;
}


@media screen and (max-width: 320px){
    .password-change__container input {
        width: 100%;

    }
}