.basket-btn {
    transition: background-color .3s;
    background-color: rgb(168, 207, 61);
    border-radius: 5%;
    border: none;
    font-weight: 450;
    width: 135px;
    height: 44px;
    max-width: 135px;
}

.basket-btn:hover {
    text-decoration: none;
    background-color: rgb(114, 209, 50);
}

.basket-btn span {
    position: relative;
    top: -3px;
    color: white;
}

.basket-icon {
    width: 29px;
    color: white;
    position: relative;
    top: 2px;
    right: 5px;
}

.cart-value-large {
    font-size: 1.6rem;
}

.cart-value-small {
    font-size: 1rem;
}

.cart-amount {
    position: relative;
    padding: 5px;
    font-size: 1rem;
    float: right;
}

@media (max-width: 840px) {
    .cart-amount {
        top: 1px;
        right: 20px;
    }
    .basket-btn {
        width: 100px;
        height: 39px;
        font-size: .7rem;
    }
    .basket-icon {
        max-width: 25px;
        max-height: 25px;
    }
    .cart-value-large {
        font-size: 1.1rem;
    }
    .cart-value-small {
        font-size: .7rem;
    }
    .cart-amount {
        font-size: .7rem;
        right: 1px;
    }
}

@media (max-width: 500px) {
    .basket-btn {
        right: -14px;
    }
    .cart-amount {
        right: 1px;
    }
}