.checkout {
    transition: background-color .5s;
    background-color: white;
    border-radius: 5%;
    color: rgb(219, 136, 42);
    font-weight: 500;
    font-size: 1.3rem;
    border: rgb(219, 136, 42) solid 4px;
    width: 135px;
    height: 47px;
}

.checkout:hover {
    background-color: rgb(219, 136, 42);
    color: white;
}

@media (max-width: 840px) {
    .checkout {
        width: 100px;
        height: 40px;
        font-size: 1.1rem;
    }
}