.react-calendar {
    margin: auto;
}
.react-calendar__tile{
    border-radius: 8%;
}

.react-calendar__tile--active:enabled:hover, 
.react-calendar__tile--active:enabled:focus,
.react-calendar__tile--active{
    background-color: rgba(5, 86, 236, 0.596) !important;
   
}
.react-calendar__tile:hover{
    background-color: rgba(30, 179, 117, 0.596) !important;
}
