.pay-button {
    width: 170px;
    height: 45px;
    font-family: inherit;
    font-size: 1.3rem;
    letter-spacing: 2px;
    background-color: rgb(12, 211, 62);
    color: rgb(250, 250, 250);
    border-radius: 2%;
    border: none;
    transition: all 300ms;
    position: absolute;
    right: 0;
    bottom: 0;
}

.pay-button:hover {
    background-color: rgb(5, 216, 93);
}

.pay-button:active {
    transform: scale(1.05);
}