.grid-container {
    text-align: center;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto auto auto auto auto auto;
    width: 80%;
}

.grid-item {
    border: solid 2px rgb(204, 192, 192);
    min-width: 230px;
    max-width: 250px;
    margin: 15px 0;
    cursor: default;
}

.product-name {
    height: 40px;
}

.inner-product-container {
    background-color: white;
    padding: 10px;
}

.picDiv {
    width: 100%;
    padding-top: 20px;
    height: 200px;
    text-align: center;
    vertical-align: baseline;
    background-color: white;
}

.productImg {
    transition: transform 0.7s;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    object-fit: contain;
    transform: scale(0.9);
}

.productImg:hover {
    transform: scale(1);
}

.bottomProduct {
    padding: 5px 0 20px;
}

.bottomProduct div {
    display: inline-block;
}

.hrProduct {
    width: 70%;
    border-top: 1px solid rgb(138, 133, 133);
    margin: 0 auto;
}

.price {
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    border: white;
    border-style: hidden;
    cursor: context-menu;
}

.unit {
    font-size: 1rem;
    font-style: italic;
    color: rgb(65, 65, 204);
}

.productName {
    font-size: 1.3rem;
    text-align: center;
}

.productCode {
    font-size: 1rem;
    color: rgb(102, 100, 100);
}

.amount-div {
    height: 33px;
    border: solid 1px rgb(19, 190, 48);
    display: inline-block;
    border-radius: 5%;
}

.amount-input {
    position: relative;
    bottom: 5px;
    height: 30px;
    width: 35px;
    text-align: center;
    font-weight: 400;
    font-size: 1.2rem;
    padding: 0 0 0px 0;
    border: none;
    outline: none;
    cursor: default;
}

.shopping-button {
    transition: background-color 0.5s;
    background-color: rgb(66, 199, 66);
    color: white;
    border-radius: 5%;
    border: none;
    cursor: default;
    height: 32px;
    width: 32px;
}

.minus-sign {
    position: relative;
    bottom: 4px;
    font-size: 1.8rem;
    font-weight: 500;
}

.plus-sign {
    position: relative;
    font-size: 1.8rem;
    font-weight: 500;
    bottom: 2px;
}

.shopping-button:focus {
    outline: none;
}

.shopping-button:hover {
    background-color: rgb(66, 143, 82);
}

.add-button {
    transition: background-color 0.5s;
    background-color: rgb(66, 199, 66);
    color: white;
    height: 32px;
    width: 100px;
    border-radius: 5%;
    outline: none;
    border: none;
    cursor: default;
    margin-bottom: 2px;
}

.add-button:focus {
    outline: none;
}

.add-button:hover {
    background-color: rgb(108, 214, 98);
}

@media only screen and (max-width: 1500px) {
    .grid-container {
        grid-template-columns: auto auto auto auto auto;
    }
    .grid-item {
        margin: 10px 0;
    }
    .amount-div {
        bottom: 4px;
    }
}

@media only screen and (max-width: 1250px) {
    .grid-container {
        grid-template-columns: auto auto auto auto;
    }
    .grid-item {
        margin: 10px 0;
    }
}

@media only screen and (max-width: 949px) {
    .grid-container {
        grid-template-columns: auto auto auto;
    }
    .grid-item {
        margin: 8px 0;
    }
}

@media only screen and (max-width: 695px) {
    .grid-container {
        width: 100%;
        grid-column-gap: 0px;
        grid-template-columns: auto auto;
    }
    .grid-item {
        min-width: 130px;
        max-height: 275px;
    }
    .shopping-button {
        height: 24px;
        width: 24px;
    }
    .minus-sign {
        bottom: 4px;
        font-size: 1.3rem;
        font-weight: 500;
    }
    .plus-sign {
        bottom: 2px;
        font-size: 1.3rem;
        font-weight: 500;
    }
    .add-button {
        height: 25px;
        width: 76px;
    }
    .amount-div {
        height: 25px;
    }
    .amount-input {
        height: 20px;
        width: 28px;
        font-size: 1rem;
        bottom: 3px;
    }
    .picDiv {
        max-height: 70px;
    }
    .product-name {
        height: 10px;
    }
    .productImg {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        object-fit: contain;
    }
    .productImg:hover {
        transform: scale(0.9);
    }
    .inner-product-container {
        padding: 0;
    }
    .inner-product-container p {
        font-size: 0.8rem;
    }
    .amount-input {
        height: 29px;
    }
}

.fade-enter {
    opacity: 0;
}

.fade-exit {
    opacity: 1;
}

.fade-enter-active {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
}

.fade-enter-active, .fade-exit-active {
    transition: opacity 80ms;
}

/* checkoutList special css start  */

.checkout-list__buyButton {
    position: relative;
    top: 30%;
    height: 25px;
}

.checkout-list__buyButton .shopping-button {
    height: 24px;
    width: 24px;
}

.checkout-list__buyButton .minus-sign {
    bottom: 4px;
    font-size: 1.3rem;
    font-weight: 500;
}

.checkout-list__buyButton .plus-sign {
    bottom: 2px;
    font-size: 1.3rem;
    font-weight: 500;
}

.checkout-list__buyButton .add-button {
    height: 25px;
    width: 76px;
}

.checkout-list__buyButton .amount-div {
    height: 25px;
}

.checkout-list__buyButton .amount-input {
    height: 20px;
    width: 28px;
    font-size: 1rem;
    bottom: 3px;
}

/* checkoutList special css end */