.border-container {
    border: rgb(173, 177, 171) solid 1px;
    height: 35px;
    width: 80%;
    margin: auto;
}

.search_grid-container {
    display: flex;
    position: relative;
}

.search-bar {
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: 6px;
    width: 25vw;
    border-style: hidden;
}

.search-bar:focus {
    outline: none;
}

.search-icon {
    position: relative;
    top: 3px;
    height: 27px;
    margin: 0 5px;
}

.search-button {
    color: white;
    background: rgb(168, 207, 61);
    border: none;
    width: 10vh;
    height: 35px;
    position: absolute;
    right: -1px;
    top: -1px;
}

.top-section__search-bar {
    flex-basis: 50%;
}

.search-button:hover {
    background-color: rgb(114, 209, 50);
}

@media (max-width: 1150px) {
    .search-bar {
        width: 30vh;
    }
    .search-button {
        width: 9vh
    }
}

@media (max-width: 500px) {
    .border-container {
        width: 74vw;
        margin: 2vh auto 0;
    }
    .search-button {
        width: 12vw;
        right: -1px;
    }
}