.top-section {
    border-bottom: rgb(194, 182, 169) 4px solid;
}

.top-section__div {
    width: 90%;
    margin: auto;
    margin-top: 11vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.top-section__buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-basis: 25%;
}

.top-section__buttons div {
    margin: 1.5vh 0;
}

.top-section__logo {
    flex-basis: 25%;
    align-items: center;
}

.top-section__buttons {
}

@media (max-width: 740px) {
    .top-section__logo {
        display: none;
    }
    .top-section__div {
        margin-top: 12vh;
    }
}

@media (max-width: 480px) {
    .top-section__div {
        flex-direction: column;
    }
    .top-section__buttons {
        flex-direction: row;
    }
    .top-section__buttons button {
        margin: 0 4vw;
    }
}
