.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    text-align: center;
    display: none;
    position: absolute;
    padding: 0.1vh 0 1vh;
    top: 2.8rem;
    background-color: #22a03e;
    min-width: 8rem;
}

.dropdown-content a {
    margin: 0.5rem 0 !important;
    text-decoration: none;
    display: block;
    font-size: 0.8rem;
}

