.nav-bar__wrapper {
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 1.5px;
}

.main-navigation__menu-btn {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2rem;
  cursor: pointer;
}

.main-navigation__menu-btn span {
  display: block;
  width: 3rem;
  height: 2.4px;
  background: rgb(240, 240, 240);
}

.main-navigation__title {
  color: #c56a03;
  position: relative;
  top: -3px;
  cursor: pointer;
  user-select: none;
}

.main-navigation__header-nav {
  display: none;
}

.main-navigation__drawer-nav {
  height: 100%;
}

.admin-signin__button {
  width: 110px;
  height: 42px;
  padding: 0;
  position: absolute;
  right: 3%;
}

@media (min-width: 700px) {
  .main-navigation__menu-btn,
  .admin-signin__button {
    display: none;
  }
  .main-navigation__header-nav {
    display: block;
  }
}

@media (max-width: 500px) {
  .main-navigation__menu-btn {
    margin: 0 1rem;
  }
}
