.footer {
    height: 20rem;
    text-align: center;
    background-image: linear-gradient(to top, rgba(223 213 116), white);
    box-shadow: 10px 10px 10px 10px;
    padding: 85px 0 35px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.stick-to_the_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer-grids {
    margin: 0 auto 10px;
}

.footera {
    transition: color 0.4s;
    text-decoration: none;
    color: rgb(214, 96, 27);
}

.footera:hover {
    color: rgb(247, 93, 4);
}

.footer p {
    font-size: 90%;
    color: rgb(226, 126, 68);
}

.footer-admin {
    position: fixed !important;
}

.hr-bottom_product_slider {
    margin-bottom: 230px !important;
}

.scroll-to__the-top {
    display: none;
    width: 8vw;
    height: 8vw;
    max-width: 80px;
    max-height: 80px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    background-color: rgb(218, 119, 73);
    color: #ffffff;
    outline: none;
    transition: opacity 200ms;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    z-index: 10;
}

.scroll-to__the-top:hover {
    opacity: 0.85;
}

.scroll-button {
    display: unset;
}

@media (max-width: 650px) {
    .scroll-to__the-top {
        display: none;
    }
}

.social-media {
    height: 18%;
    color: #ca5e3e;
    margin: 0 1.5vw;
    transition: color 300ms ease-in-out;
    position: relative;
    top: -4vh;
}

.social-media:hover {
    color: rgb(175, 34, 34);
}

@media (max-width: 500px) {
    .social-media {
        margin: 0 3vw;
    }
}