.checkout-layout {
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 1vw;
    padding: 10rem 21%;
    width: 100%;
    background-color: rgb(240, 233, 233);
}

@media (max-width:1866px) {
    .checkout-layout {
        padding: 10rem 18%;
    }
}

@media (max-width:1724px) {
    .checkout-layout {
        padding: 10rem 15%;
    }
}

@media (max-width:1624px) {
    .checkout-layout {
        padding: 10rem 12%;
    }
}

@media (max-width:1524px) {
    .checkout-layout {
        padding: 10rem 9%;
    }
}

@media (max-width:1424px) {
    .checkout-layout {
        padding: 10rem 6%;
    }
}

@media (max-width:1324px) {
    .checkout-layout {
        padding: 10rem 2%;
    }
}

@media (max-width:850px) {
    .checkout-layout {
        flex-direction: column;
    }
    .checkout-layout .flex-containers {
        width: 70vw;
        margin: auto;
    }
}

@media (max-width:540px) {
    .checkout-layout .flex-containers {
        width: 100%;
    }
    .checkout-product__card div:nth-child(4) p {
        font-size: 1rem;
    }
}

.flex-containers {
    min-height: 65vh;
}