.shopping {
    width: 100%;
    background-image: url('/images/background-img/shopping-background_pic.png');
}

@media only screen and (min-width: 1700px) {
    .shopping {
        padding: 0 10rem;
    }
}