.modals {
  z-index: 100;
  position: fixed;
  top: 22vh;
  /* it means 22% from top */
  left: 23%;
  width: 55%;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  text-align: center;
}

.basket-modal {
  top: 10vh;
}

.basket-modal .modal__content {
  max-height: 70vh;
}

.map-modal {
  width: 55% !important;
  left: 21% !important;
}

.instructions-modal .modal__content {
  padding: 0 0.5rem;
}

.instructions-modal .modal__footer {
  padding: 0 0.5rem 1rem;
}

@media only screen and (max-width: 859px) {
  .modals {
    width: 60%;
  }
  .map-modal {
    width: 70% !important;
    left: 14% !important;
  }
  .basket-modal {
    width: 75%;
    left: 13%;
  }
}

@media only screen and (max-width: 600px) {
  .modals {
    left: 7%;
    width: 85%;
  }
  .map-modal {
    width: 90% !important;
    left: 4% !important;
  }
  .basket-modal {
    width: 100%;
    left: 0;
  }
}

.modal__header {
  width: 100%;
  padding: 1rem 0.5rem;
  background: #3b9221;
  color: white;
  
}

.modal__header h2 {
  margin: 0.5rem;
}

.modal__content {
  padding: 1rem 0.5rem;
}

.modal__content p {
  font-size: 1.5rem;
}

.modal__footer {
  padding: 1rem 0.5rem;
}

.modal__footer-colored {
  background-color: #3b9221;
}

@media (min-width: 768px) {
  .modals {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}

.modal-enter {
  transform: translateY(-10rem);
  opacity: 0;
}

.modal-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: transform 300ms;
}

.modal-exit {
  transform: translateY(0);
  opacity: 1;
}

.modal-exit-active {
  transform: translateY(-10rem);
  opacity: 0;
  transition: transform 200ms;
}

.date-picker__modal {
  width: unset;
  display: inline;
  left: 40%;
}

.date-picker__modal .modal__content {
  padding: 0;
  background-color: rgb(171, 202, 171);
}

.date-picker__modal .modal__header, .date-picker__modal .modal__footer {
  background-color: rgb(49, 130, 133);
}

.date-picker__modal .modal__header h2 {
  margin: 0;
}

.date-picker__modal .modal__footer {
  padding: 0.7rem;
}

@media only screen and (max-width: 1120px) {
  .date-picker__modal {
    left: 35%;
  }
}

@media only screen and (max-width: 775px) {
  .date-picker__modal {
    left: 25%;
  }
}

@media only screen and (max-width: 575px) {
  .date-picker__modal {
    left: 18%;
  }
}

@media only screen and (max-width: 475px) {
  .date-picker__modal {
    left: 0;
    width: 100%;
  }
}