.centering-container {
    padding: 0 10%;
}

.NewsCard-container {
    margin: 150px 4vh 250px;
    text-align: center;
    display: grid;
    grid-column-gap: 30px;
    width: 95%;
    grid-template-columns: auto auto auto auto;
}

.card-frame {
    min-width: 20%;
    transition: all 0.3s;
    background-color: rgb(211, 199, 166);
    padding: 3px;
    border: rgb(228, 225, 217) solid 1px;
    border-radius: 5%;
    box-shadow: 5px 5px 5px 3px grey;
}

.card-frame:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 10px 4px grey;
}

.card-item {
    padding: 10px;
    border-radius: 5%;
    background-color: rgb(221, 219, 196);
    min-height: 100%;
}

.NewsCard-container p {
    font-size: 1.1rem;
}

.see-more {
    cursor: pointer;
    padding: 15px;
}

.see-more a {
    color: rgb(50, 145, 63);
    text-decoration: none;
}

.horizontal-line {
    margin: auto;
    width: 60%;
    border-top: 1px solid rgb(253, 253, 253);
}

.image-container img {
    width: 100%;
    border-radius: 5%;
    border: solid rgb(87, 81, 81) 1px;
}
@media screen and (max-width: 1450px) {
    .NewsCard-container {
        width: 100%;
        margin: 150px 0 250px;
        grid-template-columns: auto auto;

    }
    .image-container img {
        width: 100%;
    }
    .card-frame {
        max-width: 80%;
        margin: 30px auto;
    }
}
@media only screen and (max-width: 950px) {
    .NewsCard-container {
        display: flex;
        flex-direction: column;
    }
    .image-container img {
        width: 100%;
    }
    .card-frame {
        max-width: 70%;
        margin: 30px auto;
    }
}

@media only screen and (max-width: 600px) {
    .NewsCard-container {
        margin: 1vh auto;
        position: unset;
    }
    .card-frame {
        margin: 3vh 0;
        max-width: 100%;
    }
    .NewsCard-container p {
        font-size: 0.7rem;
    }
}